* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(221, 212, 212);
    min-height: 100vh;
}

.content {
    flex: 1000;
    background: #fff;
}

.content-row{
    display: flex;
    flex-direction: row;
    flex: 1000;
    padding: 3px;
    margin: 3px;
    width: 900px;
    height: 500px;
}

.content-text{
    display: flexbox;
    flex-direction: row;
    width: 450px;
    padding: 40px;
}

.title{
    padding: 10px;
    margin: 10px;
}

.content-img{
    display: flex;
    height: 500px;
    width: 500px;
    padding: 30px;
}

.medlemmer-content-img{
    display:table-row-group;
    height: 150px;
    width: 120px;
    padding: 10px;
    margin-top: 90px;
}

.merchandise-content-img{
    display:table-row-group;
    height: 150px;
    width: 120px;
    padding: 10px;
    margin-top: 90px;
}


.page-head, .page-foot {
    background-color:transparent;
}

.Banner-Logo{
    background-image:url('../img/the_band_logo_header.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 5px;
    width: 650px;
    height: 250px;
    margin-top: 40px;
    /* float: left;
    height: 100%;
    width: 100%;
    display:block;
    block-size: 100%; */
    
}

.page-head {
    display: flex;
    align-items:center;
    padding: 0 20px;
    position: relative;
    height: 240px;
    background-image:url('../img/banner.jpg');
    background-size: 100% 100%;
    /* justify-content: center; */
    /* padding: 0; */
}

.page-foot{
    display: flex;
    height: 60px;
    background-image:url('../img/banner_footer.jpg');
    background-size: 100% 100%;
}

.footer-Kontakt-nummer{
    font-size: 23px;
    font-weight: bolder;
    width: 255px;
    padding: 1px;
    margin: auto;
    text-align: center;
}

.footer-row{
    display: flex;
    flex: 1000;
}

.footer-emptySpace{
    flex: 50px 200px;
    margin: 10px;
    padding: 5px;
    width: 880px;
}

.footer-theBand-logo{
    background-image:url('../img/the_band_logo_footer.png');
    background-repeat: no-repeat;
    flex: 50px 200px;
    margin: 10px;
    padding: 5px;
    width: 200px;
}

.footer-Vimeo-logo{
    background-image:url('../img/vimeo-logo-icon.png');
    background-repeat: no-repeat;
    flex: 50px 200px;
    margin: 10px;
    padding: 5px;
    width: 50px;
}

.footer-Facebook-logo{
    background-image:url('../img/facebook-logo-icon.png');
    background-repeat: no-repeat;
    flex: 50px 200px;
    margin: 10px;
    padding: 5px;
    width: 50px;
}

.footer-Instagram-logo{
    background-image:url('../img/instagram-logo-icon.png');
    background-repeat: no-repeat;
    flex: 50px 200px;
    margin: 10px;
    padding: 5px;
    width: 50px;
}

.navigation {
    display:flex;
    text-align: end;
    flex: 50px 200px;
    height: 50px;
    width: 100px;
    margin-left: 330px;
    margin-top: 140px;
    justify-content: space-between; 
    background-color: transparent;
    /* border: solid red 1px; */
}

.nav-item {
    display: flex;
    padding: 20px;
    margin: 10px;
    flex: 50px 200px;
    height: 60px;
    width: 150px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {
    
    .navigation{
        display: flex;
    position:relative;
    align-items: center;
    left:20%;
    right: 0%;
    top: 30%;
    height: 15%;
    justify-content: space-between;
    background-color: transparent;
    }

    .Banner-Logo{
        background-image:url('../img/the_band_logo_header.png');
        background-size: 200%;
        background-repeat: no-repeat;
        display:block;
        position: relative;
        height: 50%;
        width: 200px;
        box-sizing: 500%;
    }

}